<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<% @users.each do |user| %>
<%= user.name %>
<%= user.introduction %>
<%= image_tag user.get_image(50,50) %>
<% end %>

<%= render partial: 'books/inf', locals: { user: @user } %>