

<div class="container-fluid">
 <div class="row">
    <div class="col-lg-4">
     <%= render partial: 'books/inf', locals: { user: @user } %>
    </div>
    
    <div class="col-lg-8">
    <h1>Users</h1>
    <table class="table table-hover">
        <tr>
         <th style="width: 30%">image</th>
         <th style="width: 40%">name</th>
         <th></th>
        </tr>
        <tr>
        <% @users.each do |user| %>
        <td><%= image_tag user.get_image(50,50) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "show", user_path(user.id) %></td>
        </tr>
        <% end %>
    </table>
 </div>
</div>